<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Condition Tracker</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/Style.css"> <!-- custom styles -->

</head>
<div class="container">

	<h1>Condition Tracker</h1>
      <h2>An easier way to track health conditions</h2>

    <nav class="navigation">
	  	
	  	<ul class="Nav-bar">
                <li><a class="active" href="AboutUs.html">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
                <li><a href="UserLogin.php">User Login</a></li>
                <li><a href="ProfessionalLogin.html">Clinician Login</a></li>
	   	</ul>
	  
	</div>


    <div class="footer">

		
	</div>

</div>
</body>
</html>

