@font-face {
font-family: "Alegreya Sans";
src: url("AlegreyaSansSC/AlegreyaSansSC-Thin.ttf");
}

@font-face {
font-family: "Cantarell";
src: url("Cantarell/Cantarell-Regular.ttf");
}

body{
	font-family: "Cantarell";
	font-size: 15px;
}

.container{
	padding-top: 20px;
    background-color: #778899;
    left: 0px;
    top: 0px;
    position: absolute;
    right: 0px;
    padding-bottom: 10px;
    height: 120px;
    max-width: 100%;
}

h1{
	font-size: 25px;
}

h2{
	font-size: 16px;
	font-weight: normal;
}

h1, h2{
	color: #FFFFFF;
	text-align: center;
}

.Nav-bar{
	list-style: none;
	height: 100%;
	margin-top: 140px;
	position: absolute;
	padding-left: 10px;
	background-color:#778899;
	left: 0px;
	width: 170px;
}

.Nav-bar li{
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px white solid;
	width: 100px;
}

.Nav-bar li a {
	text-decoration: none;
	color: #FFFFFF
}

.Nav-bar li:last-child {
	border-bottom: none;
}

.Nav-bar li a.active{
	text-decoration: underline;
}

.Nav-bar li a:hover{
	color: #FFFFFFF;
	text-decoration: underline;
}
.Contents {
	position: relative;
	top: 180px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	}


.footer {
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: #778899;
	left: 180px;
}

#userName{
	color: white;
}

.content{
	top: 150px;
    position: absolute;
    left: 200px;
}

.title {
	margin: 10px;
    font-size: 16px;
    width: 100px;
    position: absolute;
    font-weight: bold;
}

.help{
	width: 20px;
    height: 20px;
    left: 118px;
    position: absolute;
    margin: 10px;
}

.plus{
	width: 20px;
    height: 20px;
    left: 150px;
    position: absolute;
    margin: 10px;
}

.systolicAndDiastolic{
	top: 50px;
	position: absolute;
}

path.domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

svg g text {
	font: 10px sans-serif;
	text-anchor: middle;
}

svg text {
	font: 12px sans-serif;
	text-anchor: middle;
}

.legendText {
	text-anchor: start;
}

.showData {
	width: 100px;
	height: 100px;
	color: grey;
}

#newGraphs{
	top: 40px;
	position: absolute;
}

.inputForm{
	top: 45px;
	position: absolute;
}


.inputLabel {
	width: 200px;
}

.formInput{
	width: 170px;
	left: 200px;
	position: absolute;
	text-align: right;
}

.formUnit{
	right: 0px;
	position: absolute;

}

.submitButton {
	width: 197px;
    margin: 10px 0px 10px 10px;
}

.formElement{
	margin: 10px;
	width: 400px;
}

#formAttributes{
	list-style-type: none;
	padding-left: 0px; 
}

.newForm{
	left: 40px;
	position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#attributes{
	position: absolute;
    top: 40px;
    left: 629px;
    list-style-type: none;
}

.addAttribute{
	margin: 2px;
    width: 200px;
    padding: 9px;
}

.active{
	background-color: #cceeff;
}

.graphTitle{
	position: absolute;
    left: 120px;
    width: 400px;
    top: 15px;
}

.graphNameLabel{
    width: 100px;
    position: absolute;
    margin-left: 20px;
    top: 15px;
}

.page{
	position: absolute;
    top: 50px;
    margin: 10px;
}

.createButton {
	width: 200px;
}

#error{
	color: red;
	top: -18px;
	left: 20px;
	width: 300px;
	position: absolute;
	padding: 0px;
	margin: 0px;
}